<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	
</head>
<!-- NAVIGASI -->
<!-- cara penulisan dengan satu penulisan di folder navigation -->
<%-include('partials/navigation') %>




<body>
<h2>Contact Person</h2>
<h3>Fajar Ulum</h3>
<h4>fajar@gmail.com</h4>

<%-include('partials/footer') %>

</body>
</html>