<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	
</head>
<body>
<!-- NAVIGASI -->
<!-- cara penulisan dengan satu penulisan di folder navigation -->
<%-include('partials/navigation') %>

<h1>Profile</h1>


<%-include('partials/footer') %>

</body>
</html>