<!DOCTYPE html>
<html>
<head>
	<title>Create</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
</head>
<body>
<%-include('../partials/navigation') %>

<h1>Article Update</h1>
<form action="/articles/create_article" method="post">
  <!-- <div class="form-group"> -->
    <label for="title">Title </label>
    <input type="text" class="form-control" id="title" name="title" value="<%= data.title %>">
    <small id="emailHelp" class="form-text text-muted">input title book</small>
  </div>
  <div class="form-group">
    <label for="author">Author </label>
    <input type="text" class="form-control" id="author" name="author" value="<%= data.author %>">
  </div>
  <div class="form-group">
    <label for="desc">Description </label>
    <textarea type="text" class="form-control" id="desc" name="description" placeholder="<%= data.description %>"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
</form>




</body>
</html>